.profile-wrapper{
    align-items: center;
}
.profile-nav{
    /* border-right: solid 1px red; */
    padding: 2rem 5rem;
}
.profile-img{
    position: relative;
    border-width: 1px;
    /* right: 2rem; */
}
.profile-header{
    margin: 0;
    margin-top: 0.7rem;
    align-items: center;
}
.profile-name{
    margin-bottom: 0;
}
.profile-edit-icon{
    font-size: 1.5rem;
    margin-left: 1rem;
}
.profile-list{
    margin-top: 1.5rem;
}
.profile-list-item{
    text-decoration: none;
    font-size: 1.5rem;
}
.profile-list-item a{
    color: #c9c9ca !important;
}
.profile-list-item a:hover{
    color: #474747 !important;
}

/* ADDRESS COMPONENT */
.address-card-heading{
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 1rem;
}
.address-card-add-btn{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.address-item{
    align-items: center;
}
.address-item-icon{
    font-size: 1.3rem;
}

/* ADDRESS FORM COMPONENT */

.address-form-input{
    margin-bottom: 0.5rem;
}
.address-list-item{
    align-items: center;
}
.address-btn-save{
    font-size: 1.2rem;
}
.address-search-btn{
    justify-content: flex-end;
}


/* FAVS */
.favs{
    max-height: 70vh;
    overflow: scroll;
}
.fav-empty-list-icon{
    font-size: 4rem;
}

.fav-empty-list-text{
 font-size: 2rem;
 align-self: center;   
}