
.item-list-cart{
  padding: 2rem;
}
.cart-list{
  height: 20rem;
  max-height: 30rem;
  overflow: scroll;
}
.row.cart-item{
  /* background-color: #e5e9ea; */
  padding: 0.2rem 0;
  border-radius: .2rem;
  align-items: center;
  justify-content: space-around;
}
.cart-prod-img{
  order: 0;
}
.img-wrapper-cart{
  padding-left: 0;
} 
.prod-name{
  order: 1;
  padding-left: 0;
}
.cart-delete{
  order: 2;
  font-size: 1.3rem;
}
.talle{
  order:3;
  padding: 0;
}
.cant{
  order: 4;
  padding: 0;
}
.prod-price{
  order: 6;
  text-align: right;
}
.total-price{
  order:7;
  margin-top: 4rem;
  width: 11rem;
  margin-left: auto;
}
.h-separator{
  margin: 0.5rem 0;
}

/* NUMBER INPUT */

.number-input-custom{
  order: 5;
  color: gray;
  justify-self: center;
}
.number-input-control{
  cursor: pointer;
  font-size: .7rem;
}
.number-input-control:hover{
  color:#48A9A6;
}
.number-input{
  border: none;
  width: 2rem;
  text-align: center;
  font-size: 1.3rem;
  color:gray;
  background-color: transparent;
}
.number-input-group{
  justify-content: center;
  align-items: center;
}

/* CHECHOUT */
.cart-checkout{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 60vh;
}
.cart-checkout-card{
  min-height: 70%;
}
.cart-total-child-middle{
  flex: 1;
  border-bottom: dotted 1px rgba(0,0,0,.1);
}
.cart-total{
  justify-content: space-between;
}

.dashed{
    border: dashed 2px gray;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .prod-name{
    text-align: left;
  }
  .cart-delete{
    order: 7;
  }
  .prod-price{
    order: 6;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cart-delete{
    order: 10;
  }
  .prod-price{
    order: 6;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


