
.item-list-cart{
  padding: 2rem;
}
.row.cart-item{
  background-color: #e5e9ea;
  padding: 1rem 0;
  border-radius: .2rem;
  align-items: center;
  justify-content: space-around;
}
.cart-prod-img{
  order: 0;
}
.img-wrapper-cart{
  padding-left: 0;
}
.prod-name{
  order: 1;
  padding-left: 0;
}
.cart-delete{
  order: 2;
  font-size: 1.5rem;
}
.talle{
  order:3;
  padding: 0;
}
.cant{
  order: 4;
  padding: 0;
}
.prod-price{
  order: 6;
  text-align: right;
}
.total-price{
  order:7;
  margin-top: 4rem;
  width: 11rem;
  margin-left: auto;
}

/* ASIDE */

.summary-section{
  padding: 2rem 1rem;
  min-height: 50vh;
}
.summary{
 display: flex;
 flex-direction: column;
 align-items: center;
 align-content: space-between;
 justify-content: space-around;
 position: relative;
}
.summary-title{
  margin-bottom: 2rem;
}
.summary-form{
  align-self: stretch;
  padding: 1rem 2rem;
}
.sub-form{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.cvv{
  margin-left: auto;
}
.sub-form>*{
  padding: 0;;
}
.summary-btn{
  align-self: stretch;
  width: 100%;
}

/* TARJETA DE CREDITO */

.credit-card{
  width: 85%;
  height: 25vh;
  border-radius: 1rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}
.cc-dots{
  font-size: 0.5rem;
  margin-left: 0.4rem;
}
.cc-dots:not(:first-child){
  margin-left: 0.4rem;
}
.cc-logo {
  font-size: 1.8rem;
  align-self: flex-end;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .prod-name{
    text-align: left;
  }
  .cart-delete{
    order: 7;
    align-self: flex-start;
  }
  .prod-price{
    order: 6;
    align-self: flex-end;
  }
  .credit-card{
    position: relative;
    right: 3rem;
    width: 100%;
  }
  .cc-dots{
    font-size: 0.4rem;
    margin-left: 0.4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cart-delete{
    order: 10;
    align-self: flex-start;
  }
  .prod-price{
    order: 6;
    align-self: flex-end;
  }
  .credit-card{
    position: relative;
    right: 7rem;
    width: 75%;
    height: 30vh;;
  }
  .cc-dots{
    font-size: 0.7rem;
    margin-left: 0.4rem;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}





