body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
label {
    margin-bottom: 0!important;
    margin-top: 1rem;
}
h1, h2, h3{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 0;
}
.btn{
    border-radius: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 0.04rem;
    font-weight: 400!important;
}

.admin-btn{
    border-top: 1px solid rgba(31, 45, 61, 0.4);
}
.admin-prod-name{
    align-self: center;
    justify-self: left;
}
.admin-prod-description{
    margin: 0;
    color: gray;
    font-weight: 300;
}
.admin-prod-item{
    align-items: center;
}
.admin-top-list-controls{
    display: flex;
    justify-items: space-between;
    align-content: center;
}
.admin-prod-search-btn{
    text-align: right;
}
.admin-prod-back-btn{
    text-align: center;
    align-self: center;
}

/* VOUCHERS PAGE */
.voucher-list{
    font-size: 1rem;
}
.voucher.card-header .row{
    justify-content: space-between;
    align-items: center;
}
.voucher-form-back-arrow{
    font-size: 1.3rem;
}
.voucher-form-label{
    font-weight: 500 !important;
}
.voucher-form-q-selector{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* NUMBER INPUT COMPONENT */

.number-input-custom{
    order: 5;
    color: black;
    justify-self: center;
}
.number-input-control{
    cursor: pointer;
    font-size: .7rem;
}
.number-input-control:hover{
    color:#48A9A6;
}
.number-input{
    border: none;
    width: 2rem;
    text-align: center;
    font-size: 1.3rem;
    color:black;
}
.number-input-group{
    justify-content: center;
    align-items: center;
}
/* ORDERS */

.order-article-img{
    max-width: 50%;
}