body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.btn{
    
    border-radius: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 0.04rem;
    font-weight: 400!important;
}

.admin-btn{
    border-top: 1px solid rgba(31, 45, 61, 0.4);
}
.admin-prod-name{
    align-self: center;
    justify-self: left;
}
.admin-prod-description{
    margin: 0;
    color: gray;
    font-weight: 300;
}
.admin-prod-item{
    align-items: center;
}
.admin-top-list-controls{
    display: flex;
    justify-items: space-between;
    align-content: center;
}
.admin-prod-search-btn{
    text-align: right;
}
.admin-prod-back-btn{
    text-align: center;
    align-self: center;
}